.vscode/
.VSCodeCounter/*

res/themeRes/assets/
res/themeRes/gtk-4.0/gtk.css
res/custom-theme.css
res/custom-themeRRRRR.css
/diagrams/*
/reference/*

#IGNORING THE WHOLE BUILD DIRECTORY EXCEPT TWO FILES

/build/*
!/build/debug
/build/debug/*
!/build/debug/res
/build/debug/res/*
!/build/debug/res/resources.gresource.xml
!/build/debug/res/ui
!/build/debug/res/icons
!/build/debug/res/style.css
/build/debug/res/ui/*
!/build/debug/res/ui/UI_MAIN_libadwaita.ui
!/build/debug/res/ui/gtk_new_UI_layout.ui
!/build/debug/res/ui/gtk_new_UI_layout_PREFERENCES.ui

####################################################

GTK_calculator.code-workspace
CMakeUserPresets.json
gtk_calc_setup_wizard.iss
gtk_calc_setup_wizard_LIBADWAITA.iss

gtk_ui_reference.png
gtk_test_DONT_LOAD.ui

main_icon.ico
calc_screenshot.png